.post_area .post .related_contents .comments p img
{
	width:40px;
	height:40px;
}
/* styling for likes people normal post*/
.option_suggest .list_liked_accounts
{
	overflow-y:scroll;
}
.option_suggest .list_liked_accounts li
{
	border-top: 1px solid #ccc;
	padding: 10px; 
}
.option_suggest .list_liked_accounts li img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #3897f0;
}
.option_suggest .list_liked_accounts li a 
{
	text-decoration: none;
}
.option_suggest .list_liked_accounts li a span
{
	color: #3897f0;
	font-weight:bolder;
}
